altair
attrs
blinker
cachetools
camelot-py[cv]==1.0.0
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
et_xmlfile
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
opencv-python-headless
openpyxl
packaging
pandas
pdfminer.six
pillow
protobuf
pyarrow
pycparser
pydeck
pypdf==3.17.4
pypdfium2
python-dateutil
pytz
referencing
requests
rpds-py
six
smmap
streamlit
tabulate
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
